:root {
    --bs-body-bg: #dadbd5;
    --bs-gray-400: #eaeaea;
    --bs-grey-500: #b1b1b1;

    --bg-text-sent: #d5f9ba;
    --bg-green-box: #009688;
    --bg-notification-color: #8edafc;

    --font-xs: 12px;
}

/* DEBUG */
.debug-item {
    border: 1px dashed black;
    padding: .5rem;
}

.bg_green_box {
    width: auto;
    height: 100px;
    background-color: var(--bg-green-box);
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
}

.my_main_container {
    position: relative;
    z-index: 1;
    height: 95vh;
    margin-top: 2.5vh;
    margin-bottom: 2.5vh;
    background-color: white;
    --bs-gutter-x: 0rem;
    overflow: hidden;
}

.sidebar {
    border-right: 1px solid var(--bs-grey-500);
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow: auto;
    height: 100%;
}

.chat_container {
    height: calc(100vh - 225px);
    flex-grow: 1;
    overflow-y: scroll;
}

.my_avatar, .texting_avatar {
    background-color: var(--bs-gray-400);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    padding: .5rem;
    height: 55px;
}

.avatar_img {
    width: 40px;
    border-radius: 50%;
}

.fa-circle-notch, 
.fa-message,
.fa-ellipsis-vertical,
.fa-magnifying-glass,
.fa-paperclip,
.fa-face-smile,
.fa-microphone {
    color: var(--bs-grey-500);
    padding: 0rem .5rem;
}

.fa-bell-slash {
    color: var(--bg-notification-color);
}

.my_notification {
    background-color: var(--bg-notification-color);
    flex-shrink: 0;
    display: flex;
    padding: .5rem;
    height: 65px;
}

.notification_icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0.5rem;
}

.my_search_chat {
    padding: .5rem;
    background-color: var(--bs-gray-400);
    display: flex;
    height: 50px;
}

.my_search_chat input, .texting_avatar input{
    border: 1px solid var(--bs-gray-400);
}

.search_icon {
    background-color: white;
    text-align: center;
    padding: .25rem;
    width: 50px;
    border: 1px solid var(--bs-grey-400);
    
}

.contact {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--bs-gray-400);
    padding: .5rem;
}

.font_xs {
    font-size: var(--font-xs);
}


.main_content_container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow: hidden;
    height: 100%;
    width: 100%;
}

.texting_avatar {
    display: flex;
    flex-shrink: 0;
    height: 55px;
}

.chat {
    height: calc(100vh - 225px);
    flex-grow: 1;
    overflow-y: scroll;
    background-image: url("../img/mine.jpg");
    padding: 2rem 5rem;
}

.chat-text-box {
    height: 40px;
}

.bg-text-sent {
    background-color: var(--bg-text-sent);
}

.chat-text {
    width: 20vw;
    padding: 1rem;
    border-radius: 10px;
    margin-bottom: .5rem;
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 0.25rem;
    padding-bottom: 0.25rem;
}


.text-sent {
    display: flex;
    justify-content: end;
}

.text-recieved {
    display: flex;
}